
{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">About</h1>
    <br/>
    <div class="row">
      <p class="lead">This is an alpha version.</p>
    </div>

    <h1 class="mt-5">Considered future features</h1>
    <div class="row">
      <ul>
        <li>Improve UI design to be the most intuitive and readable possible.</li>
        <li>Rewrite the JS part, it's not great.</li>
        <li>Have a decent homepage.</li>
        <li>Support multiple languages.</li>
        <li>Propose a nice tutorial to learn how to play.</li>
        <li>Improve the way to check the answer (not locally in Javascript).</li>
        <li>Storing concepts to "solo" play with already created concepts.</li>
        <li>Live gaming with friends.</li>
        <li>Create an API that will create images of the concept, so it can be used by bots on discord or other services.</li>
        <li>Make the creation of concepts more mobile friendly.</li>
        <li>Creating other sets of images to explore new gaming experiences.</li>
      </ul>
    </div>
</div>
{% endblock %}

