
{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1>Create a new Concept</h1>
        <div class="row">
            <p class="lead">Drag and drop images in the section on the right to create concepts.</p>
        </div>
    </div>

    <div id="main" class="row mb-2">
        <div id="gamecontainer" class="col-md-8">
            <div class="row">
            {% for elt in concept_set %}
                <div class="col-ms-2 themed-grid-col">
                    <div class="">
                        <img class="baseConcept"
                            id="{{ elt }}"
                            draggable="true"
                            ondragstart="drag(event)"
                            title="{{ concept_set[elt]['description'] }}"
                            src="{{static_url_for('static', filename='build/img/concept/' + concept_set[elt]['image']) }}"
                        />
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>

        <div class="col-md-4">
            <div id="trash" ondrop="handleTrashConceptEvent(event)" ondragover="allowDrop(event)" class="guessTrashContainer">
                <img class="trashIcon" src="{{static_url_for('static', filename='build/img/trash.svg') }}" />
                <p>Drag an image here to remove it</p>
            </div>
            <div id="ideasContainer">
                <h2>Ideas</h2>
            </div>
            <div>
                <button class="btn btn-primary btn-large" onclick="createNewIdea()">+ Add idea</button>
                <br />
                <br />
                <input id="answer" type="text" />
                <br />
                <button class="btn btn-primary btn-large" onclick="create()">Generate Concept</button>
                <div id="result"></div>
                <br />
            </div>

            {% if not config['DEBUG'] %}
            <div id="DEBUG"></div>
            {% endif %}
    </div>

{% endblock %}
{% block js %}

<script>

var gameset = {{ concept_set | safe }};

// Map of current ideas. Key is the id of the corresponding div containing the concepts.
// An idea is a set of concepts.
var ideas = {}
var incrementalID = 0;

var availableColors = ["#E2F0CB", "#FFB7B2", "#C7CEEA", "#B5EAD7"];

ideas = {};

createNewIdea();

function allowDrop(ev) {
    ev.preventDefault();
}

function showDropPossible(ev, isPossible) {
    if (isPossible) {
        ev.target.classList.add("hoveredDestinationElement");
    } else {
        ev.target.classList.remove("hoveredDestinationElement");
    }
}

function drag(ev) {
    ev.dataTransfer.setData("conceptDomID", ev.target.id);
    ev.dataTransfer.setData("conceptID", getConceptIDFromDomID(ev.target.id));
}

/**
** Since I'm messing with the IDs, I have to do that. I have currently no idea how to
** add metadata to DOM elements in a not dirty way. Someday.
*/
function getConceptIDFromDomID(domID) {
    return(domID.split("_")[0]);
}

function handleDropConcept(ev) {
    ev.preventDefault();
    showDropPossible(ev, false);
    console.debug("handleDropConcept: " + ev.target);
    if (ev.target.classList.contains("ideaContainer") || ev.target.classList.contains("addImage")) {
        handleAppendConcept(ev);
    } else {
        handleReplaceConcept(ev);
    }
    updateViews();
}

function handleAppendConcept(ev) {
    console.debug("handleAppendConcept: " + ev.target);
    var conceptID = ev.dataTransfer.getData("conceptID");
    var targetId = ev.target.id;

    targetId = ev.target.closest(".ideaContainer").id;
    console.debug(targetId);
    addConceptToIdea(conceptID, targetId, -1)
}


function handleReplaceConcept(ev) {
    console.debug("handleReplaceConcept: " + ev.target);
    var conceptID = ev.dataTransfer.getData("conceptID");
    var conceptDomID = ev.dataTransfer.getData("conceptDomID");
    var targetId = ev.target.id;

    swapConcepts(conceptDomID, targetId);
}

function handleTrashConceptEvent(ev) {
    console.debug("handleTrashConceptEvent: " + ev.target);
    ev.preventDefault();
    var conceptDomID = ev.dataTransfer.getData("conceptDomID");
    removeConcept(conceptDomID);
    updateViews();
}

function removeConcept(conceptDomID) {
    console.debug("Deleting concept " + conceptDomID);
    var domMovingElement = document.getElementById(conceptDomID)

    // Deleting internaly
    var idea = findIdeaFromDomConceptID(conceptDomID);
    if (idea != null) {
        var eltIndex = 0;
        for (var concept of idea.concepts) {
            if (concept.domID == conceptDomID) {
                idea.concepts.splice(eltIndex, 1);
                domMovingElement.remove();
                console.debug("Removal success");
                break;
            }
            eltIndex++;
        }
    }
    debugDump();
}

function createNewIdea() {
    var domIdea = document.createElement('div');
    incrementalID += 1;
    domIdea.id = "containeridea" + incrementalID;
    domIdea.classList.add('row');
    domIdea.classList.add('ideaContainer');
    domIdea.ondrop=function(event){handleDropConcept(event)};
    domIdea.ondragover=function(event){allowDrop(event)};
    domIdea.ondragenter=function(event){showDropPossible(event, true)};
    domIdea.ondragleave=function(event){showDropPossible(event, false)};
    domIdea.style.backgroundColor = availableColors.shift();

    // Storing the idea
    ideas[domIdea.id] = {"concepts": [], "id": domIdea.id, "dom": domIdea};

    // Adding plus icon
    var plus = document.createElement('div');
    plus.classList.add("addImage");
    var plusText = document.createTextNode("Drag an image here");
    plus.appendChild(plusText);
    domIdea.appendChild(plus);

    var ideasContainer = document.getElementById("ideasContainer");
    ideasContainer.appendChild(domIdea);
    debugDump();
}

function swapConcepts(movingElementID, destinationElementID) {
    var domMovingElement = document.getElementById(movingElementID)
    var domDestinationElement = document.getElementById(destinationElementID)

    debugDump();

    console.debug(movingElementID);
    console.debug(destinationElementID);

    var movingElementIdea = findIdeaFromDomConceptID(movingElementID);
    var destinationElementIdea = findIdeaFromDomConceptID(destinationElementID);

    // Swapping two concepts from ideas
    if (movingElementID.includes("_copy") && destinationElementID.includes("_copy")) {
        console.debug("Swapping")
        // Prevent swapping if the concept is already in the idea, but allow it if it's swapping concepts inside the
        // same idea
        if ((isConceptInIdea(movingElementID, destinationElementIdea.id) || isConceptInIdea(destinationElementID, movingElementIdea.id))
                && (destinationElementIdea.id != movingElementIdea.id)) {
            console.debug("Already existing concept.")
            return;
        }
        var movingConcept = removeConceptFromIdeaWithDomID(movingElementID, movingElementIdea);
        var destinationConcept = removeConceptFromIdeaWithDomID(destinationElementID, destinationElementIdea);


        // Internal swap
        movingElementIdea.concepts.push(destinationConcept);
        destinationElementIdea.concepts.push(movingConcept);
        // Visual swap
        domMovingElement.parentNode.insertBefore(domDestinationElement.cloneNode(true), domMovingElement);
        domDestinationElement.parentNode.insertBefore(domMovingElement.cloneNode(true), domDestinationElement);
        domMovingElement.parentNode.removeChild(domMovingElement);
        domDestinationElement.parentNode.removeChild(domDestinationElement);
        debugDump();
    // Moving a concept from an idea to another without replacing any
    } else if (movingElementID.includes("_copy") && destinationElementID.includes("container")) {
        console.debug("Moving")
        if (isConceptInIdea(movingElementID, destinationElementID)) {
            console.debug("Already existing concept.")
            return;
        }
        var movingConcept = removeConceptFromIdeaWithDomID(movingElementID, movingElementIdea);
        domMovingElement.parentNode.removeChild(domMovingElement);
        addConceptToIdea(getConceptIDFromDomID(movingElementID), destinationElementID, -1);
    // Replacing a concept from an idea with one from the list
    } else {
        console.debug("Replacing")
        if (isConceptInIdea(movingElementID, destinationElementIdea.id)) {
            console.debug("Already existing concept.")
            return;
        }
        var destinationConcept = removeConceptFromIdeaWithDomID(destinationElementID, destinationElementIdea);
        // Creating the concept to a specific place
        var index2 = Array.prototype.indexOf.call(domDestinationElement.parentNode.children, domDestinationElement);
        domDestinationElement.parentNode.removeChild(domDestinationElement);
        console.debug("HERE " + index2);
        addConceptToIdea(movingElementID, destinationElementIdea.id, index2);
    }
}

function updateViews() {
    console.debug("updateViews");
    var domIdea, children, plus;

    // Stuff here is done with multiple loops and really not optimized, but it's way easier to maintain for now.

    for (var containerId in ideas) {
        domIdea = ideas[containerId].dom;
        children = domIdea.children;
        plus = null;
        // Moving the plus icon to the end
        for (var i = 0; i < children.length; i++) {
            var child = children[i];
            if (child.classList.contains("addImage")) {
                plus = child;
                break;
            }
        }
        domIdea.removeChild(plus);
        domIdea.appendChild(plus);

        // Updating sizes
        for (var i = 0; i < children.length; i++) {
            var child = children[i];
            // Setting the first image as being bigger
            if (!child.classList.contains("addImage")) {
                if (i == 0) {
                    child.classList.remove("conceptImageInIdea");
                    child.classList.add("conceptImageInIdeaMain");
                } else {
                    child.classList.remove("conceptImageInIdeaMain");
                    child.classList.add("conceptImageInIdea");
                }
            }
        }
    }
}

function isConceptInIdea(conceptID, ideaID) {
    console.debug(`Checking if ${conceptID} is in ${ideaID}`);
    conceptID = getConceptIDFromDomID(conceptID);
    var idea = ideas[ideaID];
    if (idea != null) {
        for (const concept of idea.concepts) {
            console.debug(`isConceptInIdea : Checking if ${concept.id} ==  ${conceptID}`);
            if (concept.id == conceptID) {
                console.debug(`isConceptInIdea : YES`);
                return(true);
            }
        }
    }
    console.debug(`isConceptInIdea : NO`);
    return(false);
}

function addConceptToIdea(conceptID, ideaID, position) {
    console.debug(`Creating a concept ${conceptID} inside ${ideaID} at position ${position}`);
    var htmlContainer = document.getElementById(ideaID);
    var idea = ideas[ideaID];
    if (isConceptInIdea(conceptID, ideaID)) {
        console.debug("Already existing concept.")
        return;
    }
    // Creating the concept
    var concept = {"id":conceptID};
    // If only concept, becomes the main one
    if (idea.concepts.size == 1) {
        concept['is_core'] = true;
    }
    idea.concepts.push(concept);

    // Displaying the new element
    var elt = document.getElementById(conceptID);
    var nodeCopy = createConceptCopy(elt);
    if (position >= 0) {
        htmlContainer.insertBefore(elt, htmlContainer.children[position]);
    } else {
        htmlContainer.appendChild(nodeCopy);
    }

    // Keeping the idea of the new element
    concept["domID"] = nodeCopy.id;
    debugDump();
}

function findIdeaFromDomConceptID(conceptDomID) {
    for (var containerId in ideas) {
        var idea = ideas[containerId];
        for (var concept of idea.concepts) {
            if (concept.domID == conceptDomID) {
                return(idea);
            }
        }
    }
    return(null);
}

// Return the removed concept or null
function removeConceptFromIdeaWithDomID(conceptDomID, idea) {
    var index = 0;
    for (var concept of idea.concepts) {
        if (concept.domID == conceptDomID) {
            return(idea.concepts.splice(index, 1)[0]);
        }
        index++;
    }
    return(null);
}

function createConceptCopy(sourceConcept) {
    var nodeCopy = sourceConcept.cloneNode(true);
    incrementalID++;
    nodeCopy.id = nodeCopy.id + "_copy_" + incrementalID;
    nodeCopy.classList.remove("conceptImage");
    nodeCopy.classList.add("conceptImageInIdea");
    nodeCopy.ondragover=function(event){allowDrop(event)};
    nodeCopy.ondragenter=function(event){showDropPossible(event, true)};
    nodeCopy.ondragleave=function(event){showDropPossible(event, false)};
    return(nodeCopy);
}

/**
** Send the request to create a game with the current state.
*/
function create() {
    var domIdea, children;
    var game = {"set": "default", "language": "en-US"};
    game["answer"] = document.getElementById("answer").value;
    var resultIdeas = [];

    var idea;
    var isCore = true;
    for (var containerId in ideas) {
        domIdea = ideas[containerId].dom;
        children = domIdea.children;

        var idea = {"concepts": []}
        if (isCore) {
            idea["is_core"] = true;
            isCore = false;
        }
        for (var i = 0; i < children.length; i++) {
            var child = children[i];
            if (child.classList.contains("conceptImageInIdea") || child.classList.contains("conceptImageInIdeaMain")) {
                idea["concepts"].push({"id":getConceptIDFromDomID(child.id), "points": 1, "pos": i,});
            }
        }

        resultIdeas.push(idea);
    }
    game['ideas'] = resultIdeas;
    var jsonResult = JSON.stringify({"game": game});
    console.debug(jsonResult);

    postData("/game/api/new", jsonResult)
        .then(data => {
            var result = document.getElementById("result");
            result.innerHTML = "";
            var link = document.createElement("a");
            link.href = "/game/guess/" + data.conceptcode;
            link.text = "Go to your game";
            result.appendChild(link);
        }
    );
}

async function postData(url = '', data = {}) {
  var csrf_token = "{{ csrf_token() }}";
  const response = await fetch(url, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': csrf_token
    },
    body: data
  });
  return response.json();
}

{% if not config['DEBUG'] %}
//////////////////////////////////////////////////////////////////////////// DEBUG

function debugDump() {
  console.debug("---DEBUG---");
  var debugContainer = document.getElementById("DEBUG");
  debugContainer.innerHTML = '';
  for (var containerId in ideas) {
      var idea = ideas[containerId];
      debugAppend("{" + containerId + "}");
      for (var concept of idea.concepts) {
          debugAppend("----[" + concept.id + "]");
      }
  }
  console.debug(ideas);
  console.debug("-----------");
}

function debugAppend(text) {
    var debugContainer = document.getElementById("DEBUG");
    var textNode = document.createTextNode(text);
    var newline = document.createElement("br");
    debugContainer.appendChild(textNode);
    debugContainer.appendChild(newline);
}
{% else %}
function debugDump() {}
{% endif %}


</script>

{% endblock %}