
{% extends "layout.html" %}
{% block page_title %}
    Concept Online - Guess
{% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="container">

      <h1 class="display-3">Guess this</h1>

      <p>Can you guess which item is hiding behind those concepts?</p>
      <p><a href="https://www.concept-the-game.com/concept/concept.php" class="btn btn-primary btn-large">Not understanding what to do? &raquo;</a></p>
    </div>
</div><!-- /.jumbotron -->

<p>Answer compatible with those languages: english</p>

<div id="guessContainer" class="container">
</div><!-- guesscontainer -->

<div id="guessAnswerContainer" class="container">
    <input id="answer" type="text" placeholder="Enter your answer here" />
    <br />
    <br />
    <p><a href="" onclick="checkAnswer()" class="btn btn-primary btn-large">Check your answer</a></p>
    </div><!-- answercontainer -->

{% endblock %}


{% block js %}
<script>

var gamedata = {{ data | safe }};
var gameset = {{ game_set | safe }};
var game = gamedata['game'];
var ideas = game['ideas'];
var availableColors = ["#E2F0CB", "#FFB7B2", "#C7CEEA", "#B5EAD7"];

var gamecontainer = document.getElementById('guessContainer');

function createConceptImage(id) {
    image = document.createElement('img');
    imageData = gameset[id];
    image.alt = imageData['description'];
    image.title = imageData['description'].join("\n");
    image.src = "{{static_url_for('static', filename='build/img/concept/') }}" + imageData.image;
    return image;
}

for (const idea of ideas) {
    var ideaContainer = document.createElement('div');
    ideaContainer.classList.add("ideaContainer");
    ideaContainer.classList.add("row");
    ideaContainer.classList.add("mb-3");
    ideaContainer.style.backgroundColor = availableColors.shift();

    var concepts = idea.concepts;

    // Main concept
    var currentConcept = concepts.shift();
    var mainConceptRow = document.createElement('div');
    mainConceptRow.classList.add('mainConceptRow');
    mainConceptRow.classList.add('col-md-4');

    var mainConcept = document.createElement('div');
    mainConcept.classList.add('mainConcept');
    var mainConceptImage = createConceptImage(currentConcept.id);
    mainConcept.appendChild(mainConceptImage);

    mainConceptRow.appendChild(mainConcept);
    ideaContainer.appendChild(mainConceptRow)

    // Other concepts
    var conceptRow = document.createElement('div');
    conceptRow.classList.add('conceptRow');
    conceptRow.classList.add('col-md-8');
    conceptRow.classList.add('row');
    for (const otherConcept of concepts) {
        // Container to separate the row from the content
        var conceptContainer = document.createElement('div');
        conceptContainer.classList.add('col-mg-3');

        var concept = document.createElement('div');
        concept.classList.add('concept');
        var conceptImage = createConceptImage(otherConcept.id);
        concept.appendChild(conceptImage);

        conceptContainer.appendChild(concept)
        conceptRow.appendChild(conceptContainer);
    }
    ideaContainer.appendChild(conceptRow)

    gamecontainer.appendChild(ideaContainer);
}

document.getElementById(guessAnswerContainer);

function checkAnswer() {
    answerInput = document.getElementById("answer");
    if (answerInput.value == game['answer']) {
        alert("YES");
    } else {
        alert("NO");
    }
    console.debug(answerInput.value)
}

</script>

{% endblock %}